textarea {
    resize: none;
}

.contact-form{
    background-color: #565252;
    width: 99vw;
    height: 400px;
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.input-style{
    border-radius: 20px;
    border-style: none;
    background-color: #191919;
    padding: 10px 10px 10px 10px;
    margin-bottom: 50px;
}


.comentarios-box{
    width: 70%;
}