.container{
	width: 90vw;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(../img/productos/iphone13pro.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	margin-left: 6%;
	background-blend-mode: soft-light;
	background-color: rgb(40, 40, 40);
	margin-bottom: 8%;
}

.container-text{
	color: $white;
	text-align: center;
	width: 50%;
	font-family: $roboto;
}

.container-mini{
	width: 400px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	padding-bottom: 40px;
	padding: 20px 10px 20px 10px;
	margin-bottom: 3%;
}

.container-mini1{
	@extend .container-mini;
	background: url(../img/iphone12.jpg);
	background-size: cover;
	background-position: center;
	background-blend-mode: soft-light;
	background-color: rgb(40, 40, 40);
}

.container-mini1-text{
	color: $white;
	text-align: center;
	width: 80%;
	font-size: 1rem;
	font-family: $roboto;
	list-style: circle;
		li{
			font-size: 0.8rem;
		}
}

.container-mini2{
	@extend .container-mini;
	background: url(../img/iphone12mini.jpg);
	background-size: cover;
	background-position: center;
	background-blend-mode: soft-light;
	background-color: rgb(40, 40, 40);
}

.container-mini3{
	@extend .container-mini;
	background: url(../img/iphone12pro.jpg);
	background-size: cover;
	background-position: center;
	background-blend-mode: soft-light;
	background-color: rgb(40, 40, 40);
}

.container-mini4{
	@extend .container-mini;
	background: url(../img/iphone12promax.jpg);
	background-size: cover;
	background-position: center;
	background-blend-mode: soft-light;
	background-color: rgb(40, 40, 40);
}

.container-mini4-text{
	@extend .container-mini1-text;
	display: flex;
	flex-direction: column;
}

.container-mini5{
	@extend .container-mini;
	background: url(../img/iphone13mini.svg);
	background-size: cover;
	background-position: center;
	background-blend-mode: soft-light;
	background-color: rgb(40, 40, 40);
}

.container-mini6{
	@extend .container-mini;
	background: url(../img/iphone13.jpg);
	background-size: cover;
	background-position: center;
	background-blend-mode: soft-light;
	background-color: rgb(40, 40, 40);
}

.iphones-order{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.terminos-y-condiciones-box{
	width: 100%;
	height: 20vh;
	padding-left: 8%;
	padding-right: 5%;
	margin-bottom: -1vh;
}

.terminos-y-condiciones-text{
	font-style: $roboto;
	font-size: 0,5rem;
}