@mixin d-flex($justify,$align){
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

@mixin margin($left,$right){
	margin-left: $left;
	margin-right: $right;
}

@mixin size($width,$height){
	width: $width;
	height: $height;
}

$paleta: (
	‘uno’ : rgba(48, 52, 51, .7),
	‘dos’ : #565252,
	‘tres’ : #7E7979,);
